@import 'reset';

html, * {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	line-height: 1.2;
	font-family: 'Crete Round', serif;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; font-weight: bold; }
h6 { font-size: 1rem; font-style: italic; }

header {
	h1 { font-size: 3rem; }
}

a {
	text-decoration: none;
	color: #4d7382;
}

p { margin: 1rem 0; }

hr {
	border-top: 1px solid #8c8b8b;
}

.blog-view {
	margin: 0 auto;
	padding: 15px;
	max-width: 800px;
}
